* {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'LeckerliOne';
  font-weight: 500;
  line-height: 1.1;
  color: #333; }

body {
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 1.88;
  color: #999;
  background-color: #fff;
  font-weight: 500; }

.container {
  width: 1140px;
  margin: 0 auto; }

.clear {
  clear: both; }

@font-face {
  font-family: 'LeckerliOne';
  src: url("../font/LeckerliOne.otf"); }
@font-face {
  font-family: 'Poppins';
  src: url("../font/jo4.woff2"); }
.head_v1 {
  background-color: #363d43; }
  .head_v1 .language {
    width: 694px;
    height: 48px;
    float: left;
    background-color: #363d43; }
    .head_v1 .language .btn-link {
      padding-bottom: 12px;
      padding-top: 12px;
      color: #fff;
      padding-right: 20px;
      line-height: 21px;
      background-color: #363d43;
      outline: none;
      border: none;
      font-size: 12px;
      cursor: pointer; }
    .head_v1 .language .name {
      color: #60BA62;
      font-weight: 700; }
  .head_v1 .seach {
    width: 446px;
    height: 48px;
    float: right;
    background-color: #363d43;
    position: relative; }
    .head_v1 .seach .input-search {
      border: none;
      height: 48px;
      line-height: 45px;
      transition: all 0.35s ease 0s;
      background-color: #2b3136;
      width: 280px;
      padding-left: 20px;
      outline: none;
      color: #fff;
      text-indent: 2%; }
    .head_v1 .seach .button-search {
      position: absolute;
      width: 49px;
      height: 48px;
      left: 250px;
      outline: none;
      border: none;
      background-color: #2b3136;
      color: #fff;
      font-size: 14px;
      cursor: pointer; }
    .head_v1 .seach .btn-card {
      position: absolute;
      width: 134px;
      height: 48px;
      left: 311px;
      outline: none;
      border: none;
      color: #fff;
      background-color: #363d43;
      font-size: 14px;
      cursor: pointer; }
    .head_v1 .seach .fa-card {
      font-size: 16px;
      color: #60BA62; }

.logo {
  float: left;
  width: 310px;
  height: 94px; }
  .logo img {
    margin-top: 10px; }

.nav-list {
  height: 94px;
  float: right; }
  .nav-list .list {
    margin-top: 30px;
    padding: 0; }
    .nav-list .list .list-item {
      position: relative;
      padding: 0 11px;
      display: inline-block;
      list-style: none; }
      .nav-list .list .list-item .sub-menu-page {
        visibility: hidden;
        position: absolute;
        width: 1140px;
        height: 460px;
        background-color: #fff;
        padding: 5px 20px;
        top: 26px;
        right: -390px;
        list-style: none;
        border: 1px solid #e1e1e1;
        box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
        box-sizing: border-box; }
        .nav-list .list .list-item .sub-menu-page .sub-left {
          float: left;
          height: 350px; }
          .nav-list .list .list-item .sub-menu-page .sub-left .gallary-special {
            width: 100%;
            padding: 15px 25px; }
          .nav-list .list .list-item .sub-menu-page .sub-left .gallary-special-item {
            width: 110px;
            height: 100px;
            float: left;
            margin-right: 10px;
            margin: 6px 0 13px; }
            .nav-list .list .list-item .sub-menu-page .sub-left .gallary-special-item a {
              text-decoration: none;
              color: #162118; }
              .nav-list .list .list-item .sub-menu-page .sub-left .gallary-special-item a:hover {
                color: #439a45; }
            .nav-list .list .list-item .sub-menu-page .sub-left .gallary-special-item img {
              width: 84px;
              height: 84px; }
            .nav-list .list .list-item .sub-menu-page .sub-left .gallary-special-item .price-ness {
              color: #439a45;
              font-size: 16px; }
            .nav-list .list .list-item .sub-menu-page .sub-left .gallary-special-item .price-olds {
              font-size: 12px;
              text-decoration: underline; }
            .nav-list .list .list-item .sub-menu-page .sub-left .gallary-special-item .fa-star {
              color: #febd49; }
        .nav-list .list .list-item .sub-menu-page .sub-right {
          float: right;
          width: 750px;
          height: 350px; }
          .nav-list .list .list-item .sub-menu-page .sub-right .sublime {
            width: 100%;
            padding: 15px 25px; }
            .nav-list .list .list-item .sub-menu-page .sub-right .sublime .sublime-item {
              width: 210px;
              height: 100px;
              float: left;
              margin-right: 10px;
              margin: 6px 0 13px; }
              .nav-list .list .list-item .sub-menu-page .sub-right .sublime .sublime-item .open {
                margin-bottom: 35px;
                font-weight: 500;
                color: #000; }
              .nav-list .list .list-item .sub-menu-page .sub-right .sublime .sublime-item .menu {
                width: 170px; }
                .nav-list .list .list-item .sub-menu-page .sub-right .sublime .sublime-item .menu .menu-item {
                  list-style: none;
                  border-bottom: 1px dotted #E1E1E1;
                  padding: 5px 0 10px; }
                  .nav-list .list .list-item .sub-menu-page .sub-right .sublime .sublime-item .menu .menu-item a {
                    text-transform: lowercase;
                    text-transform: capitalize;
                    color: #000;
                    line-height: 1.5;
                    font-weight: 500; }
        .nav-list .list .list-item .sub-menu-page .sub-menu-item {
          border-bottom: 1px dotted #e1e1e1; }
          .nav-list .list .list-item .sub-menu-page .sub-menu-item a {
            color: #1a1a1a;
            padding: 5px 20px;
            text-decoration: none;
            display: block;
            cursor: pointer;
            text-transform: lowercase;
            font-size: 14px;
            text-align: left;
            text-transform: capitalize; }
            .nav-list .list .list-item .sub-menu-page .sub-menu-item a:hover {
              color: #439a45; }
      .nav-list .list .list-item a {
        text-decoration: none;
        text-transform: uppercase;
        color: #000; }
        .nav-list .list .list-item a:hover {
          color: #439a45; }
  .nav-list .sub-menu {
    position: absolute;
    display: none;
    width: 200px;
    height: 210px;
    background-color: #fff;
    padding: 5px 20px;
    top: 26px;
    left: 0;
    list-style: none;
    border: 1px solid #e1e1e1;
    box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75); }
    .nav-list .sub-menu .sub-menu-item {
      border-bottom: 1px dotted #e1e1e1; }
      .nav-list .sub-menu .sub-menu-item a {
        color: #1a1a1a;
        padding: 5px 20px;
        text-decoration: none;
        display: block;
        cursor: pointer;
        text-transform: lowercase;
        font-size: 14px;
        text-align: left;
        text-transform: capitalize; }
        .nav-list .sub-menu .sub-menu-item a:hover {
          color: #439a45; }
  .nav-list .list-item:hover .sub-menu {
    display: block; }
  .nav-list .list-item:hover .sub-menu-page {
    display: block;
    visibility: visible; }

/*banner*/
.banner {
  background-image: url(../images/category.png);
  background-repeat: no-repeat;
  height: 100px; }
  .banner .baner {
    display: block;
    text-align: center; }
    .banner .baner .list-banner {
      margin: 0;
      padding: 0;
      padding-top: 38px; }
      .banner .baner .list-banner .list-banner-item {
        list-style: none;
        display: inline-block;
        margin: 0 5px; }
        .banner .baner .list-banner .list-banner-item .fa-home {
          color: #999; }
          .banner .baner .list-banner .list-banner-item .fa-home:hover {
            color: #439a45; }
          .banner .baner .list-banner .list-banner-item .fa-home strong {
            padding: 0 6px;
            font-size: 20px; }
        .banner .baner .list-banner .list-banner-item a {
          text-decoration: none;
          color: #439a45; }

/*section*/
.natural-food {
  float: left;
  width: 850px;
  margin-top: 30px;
  /*product*/ }
  .natural-food .title-breakfas {
    margin-bottom: 13px;
    font-size: 30px; }
  .natural-food .sort-by {
    height: 80px;
    text-transform: uppercase;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1; }
    .natural-food .sort-by .btn-large {
      padding: 7px;
      font-size: 14px;
      vertical-align: middle;
      border: 1px solid #E1E1E1;
      color: #999;
      background-color: #fff;
      line-height: 0;
      outline: none;
      margin-right: 3px;
      margin: 25px 0;
      cursor: pointer; }
      .natural-food .sort-by .btn-large:hover {
        background-color: #60BA62; }
    .natural-food .sort-by .tooltip {
      position: relative;
      display: inline-block; }
      .natural-food .sort-by .tooltip .tooltiptext {
        width: 48px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 18px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 184%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 1s;
        text-transform: capitalize; }
        .natural-food .sort-by .tooltip .tooltiptext:hover {
          visibility: visible;
          opacity: 1; }
        .natural-food .sort-by .tooltip .tooltiptext:after {
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: #555 transparent transparent transparent; }
    .natural-food .sort-by .btn-list {
      padding: 7px;
      font-size: 14px;
      vertical-align: middle;
      border: 1px solid #E1E1E1;
      color: #fff;
      background-color: #60BA62;
      line-height: 0;
      outline: none;
      margin-right: 73px;
      cursor: pointer; }
    .natural-food .sort-by .compare {
      display: block;
      margin-top: -50px;
      text-align: right;
      text-transform: uppercase; }
      .natural-food .sort-by .compare a {
        text-decoration: none;
        color: #000; }
    .natural-food .sort-by .sort {
      margin-right: 10px;
      color: #000;
      font-size: 12px; }
    .natural-food .sort-by .shows {
      color: #000;
      font-size: 12px; }
    .natural-food .sort-by .selected {
      height: 30px;
      width: 17%;
      background-color: #fff;
      border: 1px solid #E1E1E1;
      outline: none;
      color: #999; }
  .natural-food .refine-search {
    margin: 60px 0 30px; }
    .natural-food .refine-search .title-refine {
      font-size: 30px; }
    .natural-food .refine-search .dress-list {
      padding: 0;
      margin-top: 20px; }
    .natural-food .refine-search .dress-list-item {
      display: inline-block;
      list-style: none;
      margin-right: 300px; }
    .natural-food .refine-search .dress-list-item a {
      text-decoration: none;
      color: #000;
      font-weight: 600; }
      .natural-food .refine-search .dress-list-item a:hover {
        color: #60BA62; }
  .natural-food .product-block {
    margin-top: 30px;
    height: 1370px;
    border-bottom: 1px solid #E1E1E1; }
    .natural-food .product-block .gallery {
      width: 100%;
      width: 1000px;
      position: relative; }
    .natural-food .product-block .gallery-item {
      width: 263px;
      margin-right: 30px;
      float: left;
      height: 465px; }
      .natural-food .product-block .gallery-item .sale {
        position: relative; }
        .natural-food .product-block .gallery-item .sale .sales {
          color: #fff;
          font-size: 11px;
          position: absolute;
          bottom: 230px;
          background: #60BA62;
          left: 10px;
          height: 20px;
          line-height: 20px;
          padding: 0px 10px; }
      .natural-food .product-block .gallery-item .content {
        position: relative;
        display: block;
        text-align: center;
        padding-top: 0 5px; }
        .natural-food .product-block .gallery-item .content .img {
          display: block;
          width: 100%;
          height: auto; }
        .natural-food .product-block .gallery-item .content .overlay {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.5);
          overflow: hidden;
          width: 100%;
          height: 0;
          transition: .5s ease;
          font-size: 12px; }
          .natural-food .product-block .gallery-item .content .overlay .text {
            display: inline-block;
            overflow: hidden;
            top: -4%;
            left: 8px;
            font-size: 20px;
            padding: 4px 4px; }
          .natural-food .product-block .gallery-item .content .overlay a {
            color: #fff; }
            .natural-food .product-block .gallery-item .content .overlay a:hover {
              color: #439a45; }
        .natural-food .product-block .gallery-item .content:hover .overlay {
          height: 15%; }
      .natural-food .product-block .gallery-item .titile-product {
        padding: 10px 0 1px; }
        .natural-food .product-block .gallery-item .titile-product a {
          text-decoration: none;
          color: #000; }
          .natural-food .product-block .gallery-item .titile-product a:hover {
            color: #439a45; }
      .natural-food .product-block .gallery-item .price {
        padding: 4px 0; }
        .natural-food .product-block .gallery-item .price .price-news {
          color: #60BA62; }
        .natural-food .product-block .gallery-item .price .price-old {
          color: #999;
          font-size: 12px;
          text-decoration: underline;
          padding-left: 5px; }
      .natural-food .product-block .gallery-item .rating .fa-star {
        color: #febd49; }
      .natural-food .product-block .gallery-item .add-to-card {
        width: 130px;
        height: 30px;
        font-size: 12px;
        text-transform: uppercase;
        margin-top: 7px;
        color: #999;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background: none;
        outline: none;
        cursor: pointer;
        margin-bottom: 30px; }
        .natural-food .product-block .gallery-item .add-to-card:hover {
          background-color: #439a45;
          color: #fff; }
      .natural-food .product-block .gallery-item .fa-add {
        padding: 0 7px;
        font-size: 14px; }
      .natural-food .product-block .gallery-item img {
        width: 100%; }
  .natural-food .text-showing {
    text-align: right;
    margin-top: 30px; }

/*category-food*/
.category-food {
  float: right;
  width: 264px;
  margin-top: 30px;
  margin-right: -10px; }
  .category-food .pending {
    width: 263px;
    height: 70px;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1; }
    .category-food .pending .title-category {
      border-top: 3px solid #60BA62;
      padding: 25px 20px;
      font-size: 22px; }
  .category-food .food-list {
    margin-bottom: 30px;
    padding: 0; }
  .category-food .food-list-item {
    display: block;
    padding: 13px 20px;
    border: 1px solid #e1e1e1;
    margin-right: -1px;
    cursor: pointer; }
    .category-food .food-list-item:hover {
      background: #f1f1f1;
      color: #e1e1e1; }
    .category-food .food-list-item a {
      text-decoration: none;
      color: #162119; }
  .category-food .pend {
    width: 263px;
    height: 70px;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1; }
    .category-food .pend .title-searching {
      border-top: 3px solid #e1e1e1;
      padding: 25px 20px;
      font-size: 22px; }
  .category-food .group-price {
    display: block;
    padding: 13px 20px;
    border: 1px solid #e1e1e1;
    margin-right: -1px; }
    .category-food .group-price .fill-group {
      margin-bottom: 35px;
      margin-top: 10px; }
      .category-food .group-price .fill-group .dolors {
        margin: 0 0 18px; }
      .category-food .group-price .fill-group .dolor {
        display: inline-block;
        margin: 0 10px; }
    .category-food .group-price .price {
      font-size: 16px;
      font-weight: 500;
      text-decoration: none;
      color: #000; }
    .category-food .group-price .btn-sm {
      padding: 6px 10px;
      font-size: 12px;
      border-radius: none;
      line-height: 1.5;
      background-color: #60BA62;
      color: #fff;
      text-transform: uppercase;
      outline: none;
      border: none;
      margin-bottom: 10px; }
      .category-food .group-price .btn-sm:hover {
        background-color: #46a148;
        color: #fff;
        border-color: #439a45; }
  .category-food .special {
    margin-top: 30px; }
    .category-food .special .pendy {
      width: 263px;
      height: 70px;
      border-left: 1px solid #e1e1e1;
      border-right: 1px solid #e1e1e1;
      border-bottom: 1px solid #e1e1e1; }
      .category-food .special .pendy .title-special {
        border-top: 3px solid #e1e1e1;
        padding: 25px 20px;
        font-size: 22px; }
    .category-food .special .border-special {
      border: 1px solid #e1e1e1;
      margin-right: -1px;
      height: 490px; }
    .category-food .special .gallary-special {
      width: 100%;
      padding: 15px 25px; }
    .category-food .special .gallary-special-item {
      width: 110px;
      height: 100px;
      float: left;
      margin-right: 10px;
      margin: 6px 0 13px; }
      .category-food .special .gallary-special-item a {
        text-decoration: none;
        color: #162118; }
        .category-food .special .gallary-special-item a:hover {
          color: #439a45; }
      .category-food .special .gallary-special-item img {
        width: 84px;
        height: 84px; }
      .category-food .special .gallary-special-item .price-ness {
        color: #439a45;
        font-size: 16px; }
      .category-food .special .gallary-special-item .price-olds {
        font-size: 12px;
        text-decoration: underline; }
      .category-food .special .gallary-special-item .fa-star {
        color: #febd49; }

/* full-newletter*/
.full-newletter {
  background-image: url(../images/newletter.png);
  background-repeat: no-repeat;
  height: 300px; }
  .full-newletter .newletter {
    width: 100%;
    height: 300px;
    margin-top: 60px;
    display: block;
    text-align: center; }
    .full-newletter .newletter .title-newletter {
      color: #fff;
      font-size: 30px;
      margin: 0;
      padding-top: 60px;
      line-height: 1.5; }
    .full-newletter .newletter .text-newletter {
      color: #fff;
      margin-top: 26px;
      margin-bottom: 24px; }
  .full-newletter .contact-email {
    position: relative; }
    .full-newletter .contact-email .input-email {
      position: absolute;
      height: 46px;
      width: 32%;
      left: 315px;
      border: none;
      outline: none;
      text-indent: 5%;
      color: #999; }
    .full-newletter .contact-email .button-subscribe {
      position: absolute;
      height: 46px;
      width: 13%;
      right: 312px;
      border: none;
      outline: none;
      background: #439a45;
      text-transform: uppercase;
      color: #fff;
      cursor: pointer;
      font-size: 14px; }
      .full-newletter .contact-email .button-subscribe:hover {
        background-color: #46a148; }

/*footer*/
.footer-content {
  background-color: #1a1a1a; }
  .footer-content .widget-about {
    float: left;
    height: 380px;
    width: 260px;
    margin-top: 64px; }
    .footer-content .widget-about .list-us {
      margin-top: 40px;
      clear: both;
      line-height: 25px; }
      .footer-content .widget-about .list-us .list-us-item {
        margin-bottom: 24px;
        list-style: none; }
        .footer-content .widget-about .list-us .list-us-item span {
          display: inline-block;
          vertical-align: top; }
        .footer-content .widget-about .list-us .list-us-item .fa-log {
          width: 35px;
          padding-top: 6px;
          color: #60BA62;
          font-size: 22px;
          display: inline-block; }
    .footer-content .widget-about .panel-title {
      color: #fff;
      font-size: 22px;
      border-left: 4px solid #60BA62;
      padding-left: 10px; }
  .footer-content .inforcus {
    float: right;
    height: 380px;
    width: 680px;
    margin-top: 64px; }
    .footer-content .inforcus .panel-title {
      color: #fff;
      font-size: 22px;
      border-left: 4px solid #60BA62;
      padding-left: 10px; }
    .footer-content .inforcus .list-gallary {
      width: 100%; }
    .footer-content .inforcus .infor {
      padding-right: 80px; }
    .footer-content .inforcus .list-gallary-item {
      width: 190px;
      height: 250px;
      float: left;
      margin: 0 5px; }
      .footer-content .inforcus .list-gallary-item .list-extras {
        margin-top: 40px;
        padding: 0; }
      .footer-content .inforcus .list-gallary-item .list-extras-item {
        list-style: none;
        padding-bottom: 5px;
        line-height: 30px; }
        .footer-content .inforcus .list-gallary-item .list-extras-item a {
          position: relative;
          font-size: 13px;
          text-decoration: none;
          color: #999; }
          .footer-content .inforcus .list-gallary-item .list-extras-item a:before {
            top: 2px;
            left: 0;
            content: "\f105";
            position: absolute;
            font-family: "fontawesome";
            font-size: 12px;
            line-height: normal; }
          .footer-content .inforcus .list-gallary-item .list-extras-item a:hover {
            padding-left: 12px;
            color: #60BA62; }

.copy {
  background-color: #2a2a2a;
  height: 90px; }
  .copy .copy-left {
    float: left;
    width: 450px;
    margin-top: 28px; }
    .copy .copy-left a {
      color: #60BA62;
      text-decoration: none; }
      .copy .copy-left a:hover {
        text-decoration: underline; }
  .copy .copy-right {
    float: right;
    margin-top: 28px; }

/*# sourceMappingURL=style.css.map */
