* {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'LeckerliOne';
  font-weight: 500;
  line-height: 1.1;
  color: #333; }

body {
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 1.88;
  color: #999;
  background-color: #fff;
  font-weight: 500; }

.container {
  width: 1140px;
  margin: 0 auto; }

.clear {
  clear: both; }

@font-face {
  font-family: 'LeckerliOne';
  src: url("../font/LeckerliOne.otf"); }
@font-face {
  font-family: 'Poppins';
  src: url("../font/jo4.woff2"); }
.head_v1 {
  background-color: #363d43; }
  .head_v1 .language {
    width: 694px;
    height: 48px;
    float: left;
    background-color: #363d43; }
    .head_v1 .language .btn-link {
      padding: 12px 20px 12px;
      color: #fff;
      line-height: 21px;
      background-color: #363d43;
      border: none;
      font-size: 12px;
      cursor: pointer;
      outline: none; }
    .head_v1 .language .name {
      color: #60ba62;
      font-weight: 700; }
  .head_v1 .seach {
    width: 446px;
    height: 48px;
    float: right;
    background-color: #363d43;
    position: relative; }
    .head_v1 .seach .seach-box {
      float: left; }
      .head_v1 .seach .seach-box .input-search {
        border: none;
        height: 48px;
        line-height: 45px;
        transition: all 0.35s ease 0s;
        background-color: #2b3136;
        color: #fff;
        width: 280px;
        padding-left: 20px;
        outline: none; }
      .head_v1 .seach .seach-box .button-search {
        position: absolute;
        top: 0;
        width: 49px;
        height: 48px;
        left: 250px;
        outline: none;
        border: none;
        background-color: #2b3136;
        color: #fff;
        font-size: 14px;
        cursor: pointer; }
    .head_v1 .seach .cart .btn-card {
      position: absolute;
      width: 134px;
      height: 48px;
      float: left;
      outline: none;
      border: none;
      color: #fff;
      background-color: #363d43;
      font-size: 14px;
      cursor: pointer; }
    .head_v1 .seach .cart .fa-card {
      font-size: 16px;
      color: #60ba62; }

.logo {
  float: left;
  padding: 10px 0; }
  .logo img {
    display: block; }

.nav-list {
  height: 90px;
  float: right;
  line-height: 90px; }
  .nav-list .list-item {
    position: relative;
    padding: 0 11px;
    display: inline-block;
    list-style: none; }
    .nav-list .list-item .sub-menu-page {
      visibility: hidden;
      position: absolute;
      width: 1140px;
      height: 460px;
      background-color: #fff;
      padding: 5px 20px;
      top: 90px;
      right: -390px;
      list-style: none;
      border: 1px solid #e1e1e1;
      box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
      box-sizing: border-box;
      line-height: 1.5; }
      .nav-list .list-item .sub-menu-page .product {
        margin: 11px 0 35px;
        font-weight: 500;
        color: #000; }
      .nav-list .list-item .sub-menu-page .sub-left {
        float: left;
        height: 350px; }
        .nav-list .list-item .sub-menu-page .sub-left .gallary-special {
          width: 100%;
          padding: 15px 25px; }
        .nav-list .list-item .sub-menu-page .sub-left .gallary-special-item {
          width: 110px;
          height: 100px;
          float: left;
          margin-right: 10px;
          margin: 6px 0 13px; }
          .nav-list .list-item .sub-menu-page .sub-left .gallary-special-item a {
            text-decoration: none;
            color: #162118; }
            .nav-list .list-item .sub-menu-page .sub-left .gallary-special-item a:hover {
              color: #439a45; }
          .nav-list .list-item .sub-menu-page .sub-left .gallary-special-item img {
            width: 84px;
            height: 84px; }
          .nav-list .list-item .sub-menu-page .sub-left .gallary-special-item .price-ness {
            color: #439a45;
            font-size: 16px; }
          .nav-list .list-item .sub-menu-page .sub-left .gallary-special-item .price-olds {
            font-size: 12px;
            text-decoration: underline; }
          .nav-list .list-item .sub-menu-page .sub-left .gallary-special-item .fa-star {
            color: #febd49; }
      .nav-list .list-item .sub-menu-page .sub-right {
        float: right;
        width: 750px;
        height: 350px; }
        .nav-list .list-item .sub-menu-page .sub-right .sublime {
          width: 100%;
          padding: 15px 25px; }
          .nav-list .list-item .sub-menu-page .sub-right .sublime .sublime-item {
            width: 210px;
            height: 100px;
            float: left;
            margin-right: 10px;
            margin: 6px 0 13px; }
            .nav-list .list-item .sub-menu-page .sub-right .sublime .sublime-item .open {
              margin-bottom: 35px;
              font-weight: 500;
              color: #000; }
            .nav-list .list-item .sub-menu-page .sub-right .sublime .sublime-item .menu {
              width: 170px; }
              .nav-list .list-item .sub-menu-page .sub-right .sublime .sublime-item .menu .ipsum {
                width: 302px; }
              .nav-list .list-item .sub-menu-page .sub-right .sublime .sublime-item .menu .menu-item {
                list-style: none;
                border-bottom: 1px dotted #e1e1e1;
                padding: 5px 0 10px; }
                .nav-list .list-item .sub-menu-page .sub-right .sublime .sublime-item .menu .menu-item a {
                  text-transform: lowercase;
                  text-transform: capitalize;
                  color: #000;
                  line-height: 1.5;
                  font-weight: 500; }
      .nav-list .list-item .sub-menu-page .sub-menu-item {
        border-bottom: 1px dotted #e1e1e1; }
        .nav-list .list-item .sub-menu-page .sub-menu-item a {
          color: #1a1a1a;
          padding: 5px 20px;
          text-decoration: none;
          display: block;
          cursor: pointer;
          text-transform: lowercase;
          font-size: 14px;
          text-align: left;
          text-transform: capitalize; }
          .nav-list .list-item .sub-menu-page .sub-menu-item a:hover {
            color: #439a45; }
    .nav-list .list-item a {
      text-decoration: none;
      text-transform: uppercase;
      color: #000; }
      .nav-list .list-item a:hover {
        color: #439a45; }
  .nav-list .sub-menu {
    position: absolute;
    display: none;
    width: 200px;
    height: 210px;
    background-color: #fff;
    padding: 5px 20px;
    top: 90px;
    left: 0;
    list-style: none;
    border: 1px solid #e1e1e1;
    box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
    line-height: 1.5; }
    .nav-list .sub-menu .sub-menu-item {
      border-bottom: 1px dotted #e1e1e1; }
      .nav-list .sub-menu .sub-menu-item a {
        color: #1a1a1a;
        padding: 5px 20px;
        text-decoration: none;
        display: block;
        cursor: pointer;
        text-transform: lowercase;
        font-size: 14px;
        text-align: left;
        text-transform: capitalize; }
        .nav-list .sub-menu .sub-menu-item a:hover {
          color: #439a45; }
  .nav-list .list-item:hover .sub-menu {
    display: block; }
  .nav-list .list-item:hover .sub-menu-page {
    display: block;
    visibility: visible; }

/*banner*/
.banner {
  background: no-repeat url(../images/category.png);
  height: 100px;
  background-size: cover; }
  .banner .baner {
    display: block;
    text-align: center; }
    .banner .baner .list-banner {
      margin: 0;
      padding: 0;
      padding-top: 38px; }
      .banner .baner .list-banner .list-banner-item {
        list-style: none;
        display: inline-block;
        margin: 0 5px; }
        .banner .baner .list-banner .list-banner-item .fa-home {
          color: #999; }
          .banner .baner .list-banner .list-banner-item .fa-home:hover {
            color: #439a45; }
          .banner .baner .list-banner .list-banner-item .fa-home strong {
            padding: 0 6px;
            font-size: 20px; }
        .banner .baner .list-banner .list-banner-item a {
          text-decoration: none;
          color: #439a45; }

/*section*/
.natural-food {
  float: left;
  width: 850px;
  margin-top: 30px;
  /*product*/ }
  .natural-food .title-breakfas {
    margin-bottom: 13px;
    font-size: 30px; }
  .natural-food .sort-by {
    height: 80px;
    text-transform: uppercase;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1; }
    .natural-food .sort-by .btn-large {
      padding: 7px;
      font-size: 14px;
      vertical-align: middle;
      border: 1px solid #e1e1e1;
      color: #999;
      background-color: #fff;
      line-height: 0;
      outline: none;
      margin-right: 3px;
      margin: 25px 0;
      cursor: pointer; }
      .natural-food .sort-by .btn-large:hover {
        background-color: #60ba62; }
    .natural-food .sort-by .tooltip {
      display: inline-block; }
      .natural-food .sort-by .tooltip .tooltiptext {
        width: 48px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 18px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 184%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 1s;
        text-transform: capitalize; }
        .natural-food .sort-by .tooltip .tooltiptext:hover {
          visibility: visible;
          opacity: 1; }
        .natural-food .sort-by .tooltip .tooltiptext:after {
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: #555 transparent transparent transparent; }
    .natural-food .sort-by .btn-list {
      padding: 7px;
      font-size: 14px;
      vertical-align: middle;
      border: 1px solid #e1e1e1;
      color: #fff;
      background-color: #60ba62;
      outline: none;
      margin-right: 73px;
      cursor: pointer;
      line-height: 0; }
    .natural-food .sort-by .compare {
      display: inline-block;
      margin-left: 130px;
      text-align: right;
      text-transform: uppercase; }
      .natural-food .sort-by .compare a {
        text-decoration: none;
        color: #000; }
    .natural-food .sort-by .sort {
      margin-right: 10px;
      color: #000;
      font-size: 12px; }
    .natural-food .sort-by .shows {
      color: #000;
      font-size: 12px; }
    .natural-food .sort-by .selected {
      height: 30px;
      width: 17%;
      background-color: #fff;
      border: 1px solid #e1e1e1;
      color: #999;
      outline: none; }
  .natural-food .refine-search {
    margin: 60px 0 30px; }
    .natural-food .refine-search .title-refine {
      font-size: 30px; }
    .natural-food .refine-search .dress-list {
      padding: 0;
      margin-top: 20px; }
    .natural-food .refine-search .dress-list-item {
      display: inline-block;
      list-style: none;
      width: 49%; }
    .natural-food .refine-search .dress-list-item a {
      text-decoration: none;
      color: #000;
      font-weight: 600; }
      .natural-food .refine-search .dress-list-item a:hover {
        color: #60ba62; }
  .natural-food .text-showing {
    text-align: right;
    padding: 20px 0;
    border-top: 1px solid #e1e1e1; }
  .natural-food .product-block {
    margin-top: 30px;
    display: inline-block; }
    .natural-food .product-block .gallery {
      width: 100%; }
      .natural-food .product-block .gallery .gallery-item:nth-child(3),
      .natural-food .product-block .gallery .gallery-item:nth-child(6),
      .natural-food .product-block .gallery .gallery-item:nth-child(9) {
        margin-right: 0;
        width: 263px;
        float: left;
        height: 465px; }
        .natural-food .product-block .gallery .gallery-item:nth-child(3) .sale,
        .natural-food .product-block .gallery .gallery-item:nth-child(6) .sale,
        .natural-food .product-block .gallery .gallery-item:nth-child(9) .sale {
          position: relative; }
          .natural-food .product-block .gallery .gallery-item:nth-child(3) .sale .sales,
          .natural-food .product-block .gallery .gallery-item:nth-child(6) .sale .sales,
          .natural-food .product-block .gallery .gallery-item:nth-child(9) .sale .sales {
            color: #fff;
            font-size: 11px;
            position: absolute;
            bottom: 230px;
            background: #60ba62;
            left: 10px;
            height: 20px;
            line-height: 20px;
            padding: 0px 10px; }
        .natural-food .product-block .gallery .gallery-item:nth-child(3) .content,
        .natural-food .product-block .gallery .gallery-item:nth-child(6) .content,
        .natural-food .product-block .gallery .gallery-item:nth-child(9) .content {
          position: relative;
          display: block;
          text-align: center;
          padding-top: 0 5px; }
          .natural-food .product-block .gallery .gallery-item:nth-child(3) .content .img,
          .natural-food .product-block .gallery .gallery-item:nth-child(6) .content .img,
          .natural-food .product-block .gallery .gallery-item:nth-child(9) .content .img {
            display: block;
            width: 100%;
            height: auto; }
          .natural-food .product-block .gallery .gallery-item:nth-child(3) .content .overlay,
          .natural-food .product-block .gallery .gallery-item:nth-child(6) .content .overlay,
          .natural-food .product-block .gallery .gallery-item:nth-child(9) .content .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.5);
            overflow: hidden;
            width: 100%;
            height: 0;
            transition: .5s ease;
            font-size: 12px; }
            .natural-food .product-block .gallery .gallery-item:nth-child(3) .content .overlay .text,
            .natural-food .product-block .gallery .gallery-item:nth-child(6) .content .overlay .text,
            .natural-food .product-block .gallery .gallery-item:nth-child(9) .content .overlay .text {
              display: inline-block;
              overflow: hidden;
              top: -4%;
              left: 8px;
              font-size: 20px;
              padding: 4px 4px; }
            .natural-food .product-block .gallery .gallery-item:nth-child(3) .content .overlay a,
            .natural-food .product-block .gallery .gallery-item:nth-child(6) .content .overlay a,
            .natural-food .product-block .gallery .gallery-item:nth-child(9) .content .overlay a {
              color: #fff; }
              .natural-food .product-block .gallery .gallery-item:nth-child(3) .content .overlay a:hover,
              .natural-food .product-block .gallery .gallery-item:nth-child(6) .content .overlay a:hover,
              .natural-food .product-block .gallery .gallery-item:nth-child(9) .content .overlay a:hover {
                color: #439a45; }
          .natural-food .product-block .gallery .gallery-item:nth-child(3) .content:hover .overlay,
          .natural-food .product-block .gallery .gallery-item:nth-child(6) .content:hover .overlay,
          .natural-food .product-block .gallery .gallery-item:nth-child(9) .content:hover .overlay {
            height: 15%; }
        .natural-food .product-block .gallery .gallery-item:nth-child(3) .titile-product,
        .natural-food .product-block .gallery .gallery-item:nth-child(6) .titile-product,
        .natural-food .product-block .gallery .gallery-item:nth-child(9) .titile-product {
          padding: 10px 0 1px; }
          .natural-food .product-block .gallery .gallery-item:nth-child(3) .titile-product a,
          .natural-food .product-block .gallery .gallery-item:nth-child(6) .titile-product a,
          .natural-food .product-block .gallery .gallery-item:nth-child(9) .titile-product a {
            text-decoration: none;
            color: #000; }
            .natural-food .product-block .gallery .gallery-item:nth-child(3) .titile-product a:hover,
            .natural-food .product-block .gallery .gallery-item:nth-child(6) .titile-product a:hover,
            .natural-food .product-block .gallery .gallery-item:nth-child(9) .titile-product a:hover {
              color: #439a45; }
        .natural-food .product-block .gallery .gallery-item:nth-child(3) .price,
        .natural-food .product-block .gallery .gallery-item:nth-child(6) .price,
        .natural-food .product-block .gallery .gallery-item:nth-child(9) .price {
          padding: 4px 0; }
          .natural-food .product-block .gallery .gallery-item:nth-child(3) .price .price-news,
          .natural-food .product-block .gallery .gallery-item:nth-child(6) .price .price-news,
          .natural-food .product-block .gallery .gallery-item:nth-child(9) .price .price-news {
            color: #60ba62; }
          .natural-food .product-block .gallery .gallery-item:nth-child(3) .price .price-old,
          .natural-food .product-block .gallery .gallery-item:nth-child(6) .price .price-old,
          .natural-food .product-block .gallery .gallery-item:nth-child(9) .price .price-old {
            color: #999;
            font-size: 12px;
            text-decoration: underline;
            padding-left: 5px; }
        .natural-food .product-block .gallery .gallery-item:nth-child(3) .rating .fa-star,
        .natural-food .product-block .gallery .gallery-item:nth-child(6) .rating .fa-star,
        .natural-food .product-block .gallery .gallery-item:nth-child(9) .rating .fa-star {
          color: #febd49; }
        .natural-food .product-block .gallery .gallery-item:nth-child(3) .add-to-card,
        .natural-food .product-block .gallery .gallery-item:nth-child(6) .add-to-card,
        .natural-food .product-block .gallery .gallery-item:nth-child(9) .add-to-card {
          width: 130px;
          height: 30px;
          font-size: 12px;
          text-transform: uppercase;
          margin-top: 7px;
          color: #999;
          border: 1px solid rgba(0, 0, 0, 0.1);
          background: none;
          outline: none;
          cursor: pointer;
          margin-bottom: 30px; }
          .natural-food .product-block .gallery .gallery-item:nth-child(3) .add-to-card:hover,
          .natural-food .product-block .gallery .gallery-item:nth-child(6) .add-to-card:hover,
          .natural-food .product-block .gallery .gallery-item:nth-child(9) .add-to-card:hover {
            background-color: #439a45;
            color: #fff; }
        .natural-food .product-block .gallery .gallery-item:nth-child(3) .fa-add,
        .natural-food .product-block .gallery .gallery-item:nth-child(6) .fa-add,
        .natural-food .product-block .gallery .gallery-item:nth-child(9) .fa-add {
          padding: 0 7px;
          font-size: 14px; }
        .natural-food .product-block .gallery .gallery-item:nth-child(3) img,
        .natural-food .product-block .gallery .gallery-item:nth-child(6) img,
        .natural-food .product-block .gallery .gallery-item:nth-child(9) img {
          width: 100%; }
    .natural-food .product-block .gallery-item:nth-child(1),
    .natural-food .product-block .gallery-item:nth-child(2),
    .natural-food .product-block .gallery-item:nth-child(4),
    .natural-food .product-block .gallery-item:nth-child(5),
    .natural-food .product-block .gallery-item:nth-child(7),
    .natural-food .product-block .gallery-item:nth-child(8) {
      width: 263px;
      margin-right: 30px;
      float: left;
      height: 465px; }
      .natural-food .product-block .gallery-item:nth-child(1) .sale,
      .natural-food .product-block .gallery-item:nth-child(2) .sale,
      .natural-food .product-block .gallery-item:nth-child(4) .sale,
      .natural-food .product-block .gallery-item:nth-child(5) .sale,
      .natural-food .product-block .gallery-item:nth-child(7) .sale,
      .natural-food .product-block .gallery-item:nth-child(8) .sale {
        position: relative; }
        .natural-food .product-block .gallery-item:nth-child(1) .sale .sales,
        .natural-food .product-block .gallery-item:nth-child(2) .sale .sales,
        .natural-food .product-block .gallery-item:nth-child(4) .sale .sales,
        .natural-food .product-block .gallery-item:nth-child(5) .sale .sales,
        .natural-food .product-block .gallery-item:nth-child(7) .sale .sales,
        .natural-food .product-block .gallery-item:nth-child(8) .sale .sales {
          color: #fff;
          font-size: 11px;
          position: absolute;
          bottom: 230px;
          background: #60ba62;
          left: 10px;
          height: 20px;
          line-height: 20px;
          padding: 0px 10px; }
      .natural-food .product-block .gallery-item:nth-child(1) .content,
      .natural-food .product-block .gallery-item:nth-child(2) .content,
      .natural-food .product-block .gallery-item:nth-child(4) .content,
      .natural-food .product-block .gallery-item:nth-child(5) .content,
      .natural-food .product-block .gallery-item:nth-child(7) .content,
      .natural-food .product-block .gallery-item:nth-child(8) .content {
        position: relative;
        display: block;
        text-align: center;
        padding-top: 0 5px; }
        .natural-food .product-block .gallery-item:nth-child(1) .content .img,
        .natural-food .product-block .gallery-item:nth-child(2) .content .img,
        .natural-food .product-block .gallery-item:nth-child(4) .content .img,
        .natural-food .product-block .gallery-item:nth-child(5) .content .img,
        .natural-food .product-block .gallery-item:nth-child(7) .content .img,
        .natural-food .product-block .gallery-item:nth-child(8) .content .img {
          display: block;
          width: 100%;
          height: auto; }
        .natural-food .product-block .gallery-item:nth-child(1) .content .overlay,
        .natural-food .product-block .gallery-item:nth-child(2) .content .overlay,
        .natural-food .product-block .gallery-item:nth-child(4) .content .overlay,
        .natural-food .product-block .gallery-item:nth-child(5) .content .overlay,
        .natural-food .product-block .gallery-item:nth-child(7) .content .overlay,
        .natural-food .product-block .gallery-item:nth-child(8) .content .overlay {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.5);
          overflow: hidden;
          width: 100%;
          height: 0;
          transition: .5s ease;
          font-size: 12px; }
          .natural-food .product-block .gallery-item:nth-child(1) .content .overlay .text,
          .natural-food .product-block .gallery-item:nth-child(2) .content .overlay .text,
          .natural-food .product-block .gallery-item:nth-child(4) .content .overlay .text,
          .natural-food .product-block .gallery-item:nth-child(5) .content .overlay .text,
          .natural-food .product-block .gallery-item:nth-child(7) .content .overlay .text,
          .natural-food .product-block .gallery-item:nth-child(8) .content .overlay .text {
            display: inline-block;
            overflow: hidden;
            top: -4%;
            left: 8px;
            font-size: 20px;
            padding: 4px 4px; }
          .natural-food .product-block .gallery-item:nth-child(1) .content .overlay a,
          .natural-food .product-block .gallery-item:nth-child(2) .content .overlay a,
          .natural-food .product-block .gallery-item:nth-child(4) .content .overlay a,
          .natural-food .product-block .gallery-item:nth-child(5) .content .overlay a,
          .natural-food .product-block .gallery-item:nth-child(7) .content .overlay a,
          .natural-food .product-block .gallery-item:nth-child(8) .content .overlay a {
            color: #fff; }
            .natural-food .product-block .gallery-item:nth-child(1) .content .overlay a:hover,
            .natural-food .product-block .gallery-item:nth-child(2) .content .overlay a:hover,
            .natural-food .product-block .gallery-item:nth-child(4) .content .overlay a:hover,
            .natural-food .product-block .gallery-item:nth-child(5) .content .overlay a:hover,
            .natural-food .product-block .gallery-item:nth-child(7) .content .overlay a:hover,
            .natural-food .product-block .gallery-item:nth-child(8) .content .overlay a:hover {
              color: #439a45; }
        .natural-food .product-block .gallery-item:nth-child(1) .content:hover .overlay,
        .natural-food .product-block .gallery-item:nth-child(2) .content:hover .overlay,
        .natural-food .product-block .gallery-item:nth-child(4) .content:hover .overlay,
        .natural-food .product-block .gallery-item:nth-child(5) .content:hover .overlay,
        .natural-food .product-block .gallery-item:nth-child(7) .content:hover .overlay,
        .natural-food .product-block .gallery-item:nth-child(8) .content:hover .overlay {
          height: 15%; }
      .natural-food .product-block .gallery-item:nth-child(1) .titile-product,
      .natural-food .product-block .gallery-item:nth-child(2) .titile-product,
      .natural-food .product-block .gallery-item:nth-child(4) .titile-product,
      .natural-food .product-block .gallery-item:nth-child(5) .titile-product,
      .natural-food .product-block .gallery-item:nth-child(7) .titile-product,
      .natural-food .product-block .gallery-item:nth-child(8) .titile-product {
        padding: 10px 0 1px; }
        .natural-food .product-block .gallery-item:nth-child(1) .titile-product a,
        .natural-food .product-block .gallery-item:nth-child(2) .titile-product a,
        .natural-food .product-block .gallery-item:nth-child(4) .titile-product a,
        .natural-food .product-block .gallery-item:nth-child(5) .titile-product a,
        .natural-food .product-block .gallery-item:nth-child(7) .titile-product a,
        .natural-food .product-block .gallery-item:nth-child(8) .titile-product a {
          text-decoration: none;
          color: #000; }
          .natural-food .product-block .gallery-item:nth-child(1) .titile-product a:hover,
          .natural-food .product-block .gallery-item:nth-child(2) .titile-product a:hover,
          .natural-food .product-block .gallery-item:nth-child(4) .titile-product a:hover,
          .natural-food .product-block .gallery-item:nth-child(5) .titile-product a:hover,
          .natural-food .product-block .gallery-item:nth-child(7) .titile-product a:hover,
          .natural-food .product-block .gallery-item:nth-child(8) .titile-product a:hover {
            color: #439a45; }
      .natural-food .product-block .gallery-item:nth-child(1) .price,
      .natural-food .product-block .gallery-item:nth-child(2) .price,
      .natural-food .product-block .gallery-item:nth-child(4) .price,
      .natural-food .product-block .gallery-item:nth-child(5) .price,
      .natural-food .product-block .gallery-item:nth-child(7) .price,
      .natural-food .product-block .gallery-item:nth-child(8) .price {
        padding: 4px 0; }
        .natural-food .product-block .gallery-item:nth-child(1) .price .price-news,
        .natural-food .product-block .gallery-item:nth-child(2) .price .price-news,
        .natural-food .product-block .gallery-item:nth-child(4) .price .price-news,
        .natural-food .product-block .gallery-item:nth-child(5) .price .price-news,
        .natural-food .product-block .gallery-item:nth-child(7) .price .price-news,
        .natural-food .product-block .gallery-item:nth-child(8) .price .price-news {
          color: #60ba62; }
        .natural-food .product-block .gallery-item:nth-child(1) .price .price-old,
        .natural-food .product-block .gallery-item:nth-child(2) .price .price-old,
        .natural-food .product-block .gallery-item:nth-child(4) .price .price-old,
        .natural-food .product-block .gallery-item:nth-child(5) .price .price-old,
        .natural-food .product-block .gallery-item:nth-child(7) .price .price-old,
        .natural-food .product-block .gallery-item:nth-child(8) .price .price-old {
          color: #999;
          font-size: 12px;
          text-decoration: underline;
          padding-left: 5px; }
      .natural-food .product-block .gallery-item:nth-child(1) .rating .fa-star,
      .natural-food .product-block .gallery-item:nth-child(2) .rating .fa-star,
      .natural-food .product-block .gallery-item:nth-child(4) .rating .fa-star,
      .natural-food .product-block .gallery-item:nth-child(5) .rating .fa-star,
      .natural-food .product-block .gallery-item:nth-child(7) .rating .fa-star,
      .natural-food .product-block .gallery-item:nth-child(8) .rating .fa-star {
        color: #febd49; }
      .natural-food .product-block .gallery-item:nth-child(1) .add-to-card,
      .natural-food .product-block .gallery-item:nth-child(2) .add-to-card,
      .natural-food .product-block .gallery-item:nth-child(4) .add-to-card,
      .natural-food .product-block .gallery-item:nth-child(5) .add-to-card,
      .natural-food .product-block .gallery-item:nth-child(7) .add-to-card,
      .natural-food .product-block .gallery-item:nth-child(8) .add-to-card {
        width: 130px;
        height: 30px;
        font-size: 12px;
        text-transform: uppercase;
        margin-top: 7px;
        color: #999;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background: none;
        outline: none;
        cursor: pointer;
        margin-bottom: 30px; }
        .natural-food .product-block .gallery-item:nth-child(1) .add-to-card:hover,
        .natural-food .product-block .gallery-item:nth-child(2) .add-to-card:hover,
        .natural-food .product-block .gallery-item:nth-child(4) .add-to-card:hover,
        .natural-food .product-block .gallery-item:nth-child(5) .add-to-card:hover,
        .natural-food .product-block .gallery-item:nth-child(7) .add-to-card:hover,
        .natural-food .product-block .gallery-item:nth-child(8) .add-to-card:hover {
          background-color: #439a45;
          color: #fff; }
      .natural-food .product-block .gallery-item:nth-child(1) .fa-add,
      .natural-food .product-block .gallery-item:nth-child(2) .fa-add,
      .natural-food .product-block .gallery-item:nth-child(4) .fa-add,
      .natural-food .product-block .gallery-item:nth-child(5) .fa-add,
      .natural-food .product-block .gallery-item:nth-child(7) .fa-add,
      .natural-food .product-block .gallery-item:nth-child(8) .fa-add {
        padding: 0 7px;
        font-size: 14px; }
      .natural-food .product-block .gallery-item:nth-child(1) img,
      .natural-food .product-block .gallery-item:nth-child(2) img,
      .natural-food .product-block .gallery-item:nth-child(4) img,
      .natural-food .product-block .gallery-item:nth-child(5) img,
      .natural-food .product-block .gallery-item:nth-child(7) img,
      .natural-food .product-block .gallery-item:nth-child(8) img {
        width: 100%; }

/*category-food*/
.category-food {
  float: right;
  width: 264px;
  margin-top: 30px; }
  .category-food .pending {
    border: 1px solid #e1e1e1; }
    .category-food .pending .title-category {
      border-top: 3px solid #60ba62;
      padding: 20px 25px;
      font-size: 22px; }
  .category-food .food-list {
    margin-bottom: 30px;
    padding: 0; }
  .category-food .food-list-item {
    display: block;
    padding: 13px 20px;
    border: 1px solid #e1e1e1;
    margin-right: -1px;
    cursor: pointer; }
    .category-food .food-list-item:hover {
      background: #f1f1f1;
      color: #e1e1e1; }
    .category-food .food-list-item a {
      text-decoration: none;
      color: #162119; }
  .category-food .pend {
    width: 263px;
    height: 70px;
    border: 1px solid #e1e1e1; }
    .category-food .pend .title-searching {
      border-top: 3px solid #e1e1e1;
      padding: 20px 25px;
      font-size: 22px; }
  .category-food .group-price {
    display: block;
    padding: 13px 20px;
    border: 1px solid #e1e1e1;
    margin-right: -1px; }
    .category-food .group-price .fill-group {
      margin-bottom: 35px;
      margin-top: 10px; }
      .category-food .group-price .fill-group .dolors {
        margin: 0 0 18px; }
      .category-food .group-price .fill-group .dolor {
        display: inline-block;
        margin: 0 10px; }
    .category-food .group-price .price {
      font-size: 16px;
      font-weight: 500;
      text-decoration: none;
      color: #000; }
    .category-food .group-price .btn-sm {
      padding: 6px 10px;
      font-size: 12px;
      border-radius: none;
      line-height: 1.5;
      background-color: #60ba62;
      color: #fff;
      text-transform: uppercase;
      outline: none;
      border: none;
      margin-bottom: 10px; }
      .category-food .group-price .btn-sm:hover {
        background-color: #46a148;
        color: #fff;
        border-color: #439a45; }
  .category-food .special {
    margin-top: 30px; }
    .category-food .special .pendy {
      width: 263px;
      height: 70px;
      border: 1px solid #e1e1e1; }
      .category-food .special .pendy .title-special {
        border-top: 3px solid #e1e1e1;
        padding: 20px 25px;
        font-size: 22px; }
    .category-food .special .border-special {
      border: 1px solid #e1e1e1;
      margin-right: -1px;
      height: 490px; }
    .category-food .special .gallary-special {
      width: 100%;
      padding: 15px 25px; }
    .category-food .special .gallary-special-item {
      width: 110px;
      height: 100px;
      float: left;
      margin-right: 10px;
      margin: 6px 0 13px; }
      .category-food .special .gallary-special-item a {
        text-decoration: none;
        color: #162118; }
        .category-food .special .gallary-special-item a:hover {
          color: #439a45; }
      .category-food .special .gallary-special-item img {
        width: 84px;
        height: 84px; }
      .category-food .special .gallary-special-item .price-ness {
        color: #439a45;
        font-size: 16px; }
      .category-food .special .gallary-special-item .price-olds {
        font-size: 12px;
        text-decoration: underline; }
      .category-food .special .gallary-special-item .fa-star {
        color: #febd49; }

/* full-newletter*/
.full-newletter {
  background: no-repeat url(../images/newletter.png);
  height: 300px; }
  .full-newletter .newletter {
    width: 100%;
    margin-top: 30px;
    display: block;
    text-align: center; }
    .full-newletter .newletter .title-newletter {
      color: #fff;
      font-size: 30px;
      margin: 0;
      padding-top: 60px;
      line-height: 1.5; }
    .full-newletter .newletter .text-newletter {
      color: #fff;
      margin: 26px 24px; }
  .full-newletter .contact-email {
    position: relative; }
    .full-newletter .contact-email .input-email {
      position: absolute;
      height: 46px;
      width: 32%;
      left: 315px;
      border: none;
      outline: none;
      text-indent: 5%;
      color: #999; }
    .full-newletter .contact-email .button-subscribe {
      position: absolute;
      height: 46px;
      width: 13%;
      right: 312px;
      border: none;
      outline: none;
      background: #439a45;
      color: #fff;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 14px; }
      .full-newletter .contact-email .button-subscribe:hover {
        background-color: #46a148; }

/*footer*/
.footer-content {
  background-color: #1a1a1a; }
  .footer-content .widget-about {
    float: left;
    height: 380px;
    width: 260px;
    margin-top: 64px; }
    .footer-content .widget-about .list-us {
      margin-top: 40px;
      clear: both;
      line-height: 25px; }
      .footer-content .widget-about .list-us .list-us-item {
        margin-bottom: 24px;
        list-style: none; }
        .footer-content .widget-about .list-us .list-us-item span {
          display: inline-block;
          vertical-align: top; }
        .footer-content .widget-about .list-us .list-us-item .fa-log {
          width: 35px;
          padding-top: 6px;
          color: #60ba62;
          font-size: 22px;
          display: inline-block; }
    .footer-content .widget-about .panel-title {
      color: #fff;
      font-size: 22px;
      border-left: 4px solid #60ba62;
      padding-left: 10px; }
  .footer-content .inforcus {
    float: right;
    height: 380px;
    width: 680px;
    margin-top: 64px; }
    .footer-content .inforcus .panel-title {
      color: #fff;
      font-size: 22px;
      border-left: 4px solid #60ba62;
      padding-left: 10px; }
    .footer-content .inforcus .list-gallary {
      width: 100%; }
    .footer-content .inforcus .infor {
      padding-right: 80px; }
    .footer-content .inforcus .list-gallary-item {
      width: 190px;
      height: 250px;
      float: left;
      margin: 0 5px; }
      .footer-content .inforcus .list-gallary-item .list-extras {
        margin-top: 40px;
        padding: 0; }
      .footer-content .inforcus .list-gallary-item .list-extras-item {
        list-style: none;
        padding-bottom: 5px;
        line-height: 30px; }
        .footer-content .inforcus .list-gallary-item .list-extras-item a {
          position: relative;
          font-size: 13px;
          text-decoration: none;
          color: #999;
          transition: all 0.35s ease; }
          .footer-content .inforcus .list-gallary-item .list-extras-item a:hover {
            padding-left: 12px;
            color: #60ba62; }
            .footer-content .inforcus .list-gallary-item .list-extras-item a:hover:before {
              top: 2px;
              left: 0;
              content: "\f105";
              position: absolute;
              font-size: 12px;
              line-height: normal;
              font-family: "fontawesome"; }

.copy {
  background-color: #2a2a2a;
  height: 90px; }
  .copy .copy-left {
    float: left;
    margin-top: 28px; }
    .copy .copy-left a {
      color: #60ba62;
      text-decoration: none; }
      .copy .copy-left a:hover {
        text-decoration: underline; }
  .copy .copy-right {
    float: right;
    margin-top: 28px; }

/*# sourceMappingURL=style.css.map */
