* {
  margin: 0;
  padding: 0;
}
$color: (
  black: #000,
  white: #fff,
  title: #333,
  green: #60BA62,
  green_1: #46a148,
  green_2: #439a45,
  gray_v1: #363d43,
  gray_v2: #2b3136,
  gray_border: #E1E1E1,
  gray_border_v1: #999,
  star: #febd49,
  gray_ao: #e1e1e1,
  black_mo: #162119,
  gray_amo: #f1f1f1,
  black_2: #1a1a1a,
  black_3: #2a2a2a,
  black_4: #162118,
);

h1, h2, h3, h4, h5, h6 {
  font-family: 'LeckerliOne';
  font-weight: 500;
  line-height: 1.1;
  color: map-get($color, title);
}

body {
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 1.88;
  color: map-get($color, gray_border_v1);
  background-color: map-get($color, white);
  font-weight: 500;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

@font-face {
  font-family: 'LeckerliOne';
  src: url('../font/LeckerliOne.otf');
 }
@font-face {
  font-family: 'Poppins';
  src: url('../font/jo4.woff2');
}
