@import "global";

.head_v1 {
  background-color: map-get($color, gray_v1);
  .language {
    width: 694px;
    height: 48px;
    float: left;
    background-color: map-get($color, gray_v1);
    .btn-link {
      padding-bottom: 12px;
      padding-top: 12px;
      color: map-get($color, white);
      padding-right: 20px;
      line-height: 21px;
      background-color: map-get($color, gray_v1);
      outline: none;
      border: none;
      font-size: 12px;
      cursor: pointer;
    }
    .name {
      color: #60BA62;
      font-weight: 700;
    }
  }
  .seach {
    width: 446px;
    height: 48px;
    float: right;
    background-color: map-get($color, gray_v1);
    position: relative;
    .input-search {
      border: none;
      height: 48px;
      line-height: 45px;
      transition: all 0.35s ease 0s;
      background-color: map-get($color, gray_v2);
      width: 280px;
      padding-left: 20px;
      outline: none;
      color: map-get($color, white);
      text-indent: 2%;
    }
    .button-search {
      position: absolute;
      width: 49px;
      height: 48px;
      left: 250px;
      outline: none;
      border: none;
      background-color: map-get($color, gray_v2);
      color: map-get($color, white);
      font-size: 14px;
      cursor: pointer;
    }
    .btn-card {
      position: absolute;
      width: 134px;
      height: 48px;
      left: 311px;
      outline: none;
      border: none;
      color: map-get($color, white);
      background-color: map-get($color, gray_v1);
      font-size: 14px;
      cursor: pointer;
    }
    .fa-card {
      font-size: 16px;
      color: map-get($color, green);
    }
  }
}

.logo {
  float: left;
  width: 310px;
  height: 94px;
  img {
    margin-top: 10px;
  }
}
.nav-list {
  height: 94px;
  float: right;
  .list {
    margin-top: 30px;
    padding: 0;
  .list-item {
    position: relative;
    padding: 0 11px;
    display: inline-block;
    list-style: none;
    .sub-menu-page {
      visibility: hidden;
      position: absolute;
      width: 1140px;
      height: 460px;
      background-color: #fff;
      padding: 5px 20px;
      top: 26px;
      right: -390px;
      list-style: none;
      border: 1px solid #e1e1e1;
      box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
      box-sizing: border-box;
      .sub-left {
        float: left;
        height: 350px;
        .gallary-special {
          width: 100%;
          padding: 15px 25px
         }
        .gallary-special-item {
          width: 110px;
          height: 100px;
          float: left;
          margin-right: 10px;
          margin: 6px 0 13px;
          a {
            text-decoration: none;
            color: map-get($color, black_4);
            &:hover {
              color: map-get($color, green_2);
            }
          }
          img {
            width: 84px;
            height: 84px;
          }
          .price-ness {
            color: map-get($color, green_2);
            font-size: 16px;
          }
          .price-olds {
            font-size: 12px;
            text-decoration: underline;
          }
          .fa-star {
            color: map-get($color, star);
          }
        }
      }
      .sub-right {
        float: right;
        width: 750px;
        height: 350px;
        .sublime {
          width: 100%;
          padding: 15px 25px;
          .sublime-item {
            width: 210px;
            height: 100px;
            float: left;
            margin-right: 10px;
            margin: 6px 0 13px;
            .open {
              margin-bottom: 35px;
              font-weight: 500;
              color: map-get($color, black);
            }
            .menu {
              width: 170px;
              .menu-item {
                list-style: none;
                border-bottom: 1px dotted map-get($color, gray_border);
                padding: 5px 0 10px;
                a {
                  text-transform: lowercase;
                  text-transform: capitalize;
                  color: map-get($color, black);
                  line-height: 1.5;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
      .sub-menu-item {
        border-bottom: 1px dotted map-get($color, gray_ao);
        a {
          color: map-get($color, black_2);
          padding: 5px 20px;
          text-decoration: none;
          display: block;
          cursor: pointer;
          text-transform: lowercase;
          font-size: 14px;
          text-align: left;
          text-transform: capitalize;
          &:hover {
          color: map-get($color, green_2);
        }
       }
      }
    }
  a {
    text-decoration: none;
    text-transform: uppercase;
    color: map-get($color, black);
    &:hover {
      color: map-get($color, green_2);
    }
  }
 }
}
  .sub-menu {
    position: absolute;
    display: none;
    width: 200px;
    height: 210px;
    background-color: map-get($color, white);
    padding: 5px 20px;
    top: 26px;
    left: 0;
    list-style: none;
    border: 1px solid map-get($color, gray_ao);
    box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);
    .sub-menu-item {
      border-bottom: 1px dotted map-get($color, gray_ao);
    a {
      color: map-get($color, black_2);
      padding: 5px 20px;
      text-decoration: none;
      display: block;
      cursor: pointer;
      text-transform: lowercase;
      font-size: 14px;
      text-align: left;
      text-transform: capitalize;
      &:hover {
      color: map-get($color, green_2);
      }
     }
    }
  }

 .list-item:hover .sub-menu {
    display: block;
  }
  .list-item:hover .sub-menu-page {
    display: block;
    visibility: visible;
  }
}
/*banner*/
.banner {
  background-image: url(../images/category.png);
  background-repeat: no-repeat;
  height: 100px;
  .baner {
    display: block;
    text-align: center;
    .list-banner {
      margin: 0;
      padding: 0;
      padding-top: 38px;
      .list-banner-item {
        list-style: none;
        display: inline-block;
        margin: 0 5px;
        .fa-home {
          color: map-get($color, gray_border_v1);
          &:hover {
            color: map-get($color, green_2);
          }
          strong {
            padding: 0 6px;
            font-size: 20px;
          }
        }
        a {
          text-decoration: none;
          color: map-get($color, green_2);
        }
      }
    }
  }
}
/*section*/
.natural-food {
  float: left;
  width: 850px;
  margin-top: 30px;
  .title-breakfas {
    margin-bottom: 13px;
    font-size: 30px;
  }
  .sort-by {
    height: 80px;
    text-transform: uppercase;
    border-top: 1px solid map-get($color, gray_border);
    border-bottom: 1px solid map-get($color, gray_border);
    .btn-large {
      padding: 7px;
      font-size: 14px;
      vertical-align: middle;
      border: 1px solid map-get($color, gray_border);
      color: map-get($color, gray_border_v1);
      background-color: map-get($color, white);
      line-height: 0;
      outline: none;
      margin-right: 3px;
      margin: 25px 0;
      cursor: pointer;
      &:hover {
        background-color: map-get($color, green);
      }
    }
    .tooltip {
      position: relative;
      display: inline-block;
      .tooltiptext {
        width: 48px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 18px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 184%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 1s;
        text-transform: capitalize;
        &:hover {
          visibility: visible;
          opacity: 1;
        }
        &:after {
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: #555 transparent transparent transparent;
        }
      }
    }
    .btn-list {
      padding: 7px;
      font-size: 14px;
      vertical-align: middle;
      border: 1px solid map-get($color, gray_border);
      color: map-get($color, white);
      background-color: map-get($color, green);
      line-height: 0;
      outline: none;
      margin-right: 73px;
      cursor: pointer;
    }
    .compare {
      display: block;
      margin-top: -50px;
      text-align: right;
      text-transform: uppercase;
      a {
        text-decoration: none;
        color: map-get($color, black);
      }
    }
    .sort {
      margin-right: 10px;
      color: map-get($color, black);
      font-size: 12px;
    }
    .shows {
      color: map-get($color, black);
      font-size: 12px;
    }
    .selected {
      height: 30px;
      width: 17%;
      background-color: map-get($color, white);
      border: 1px solid map-get($color, gray_border);
      outline: none;
      color: map-get($color, gray_border_v1);
    }
  }
  .refine-search {
    margin: 60px 0 30px;
    .title-refine {
      font-size: 30px;
    }
  .dress-list {
    padding: 0;
    margin-top: 20px;
  }
  .dress-list-item {
    display: inline-block;
    list-style: none;
    margin-right: 300px;
  }
  .dress-list-item a {
    text-decoration: none;
    color: map-get($color, black);
    font-weight: 600;
    &:hover {
      color: map-get($color, green);
    }
  }
}
/*product*/
.product-block {
  margin-top: 30px;
  height: 1370px;
  border-bottom: 1px solid map-get($color, gray_border);
.gallery {
    width: 100%;
    width: 1000px;
    position: relative;
  }
.gallery-item {
  width: 263px;
  margin-right: 30px;
  float: left;
  height: 465px;
  .sale {
    position: relative;
    .sales {
      color: map-get($color, white);
      font-size: 11px;
      position: absolute;
      bottom: 230px;
      background: map-get($color, green);
      left: 10px;
      height: 20px;
      line-height: 20px;
      padding: 0px 10px;
    }
   }
  .content {
    position: relative;
    display: block;
    text-align: center;
    padding-top: 0 5px;
    .img {
      display: block;
      width: 100%;
      height: auto;
    }
    .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      overflow: hidden;
      width: 100%;
      height: 0;
      transition: .5s ease;
      font-size: 12px;
      .text {
        display: inline-block;
        overflow: hidden;
        top: -4%;
        left: 8px;
        font-size: 20px;
        padding: 4px 4px;
        }
        a {
          color: map-get($color, white);
          &:hover {
            color: map-get($color, green_2);
          }
        }
      }
     &:hover .overlay {
      height: 15%;
     }
   }
  .titile-product {
   padding: 10px 0 1px;
   a {
    text-decoration: none;
    color: map-get($color, black);
     &:hover {
      color: map-get($color, green_2);
     }
    }
  }
  .price {
    padding: 4px 0;
    .price-news {
      color: map-get($color, green);
    }
    .price-old {
      color: map-get($color, gray_border_v1);
      font-size: 12px;
      text-decoration: underline;
      padding-left: 5px;
    }
  }
  .rating {
    .fa-star {
      color: map-get($color, star);
    }
  }
  .add-to-card {
    width: 130px;
    height: 30px;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 7px;
    color: map-get($color, gray_border_v1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 30px;
    &:hover {
      background-color: map-get($color, green_2);
      color: map-get($color, white);
    }
  }
  .fa-add {
    padding: 0 7px;
    font-size: 14px;
  }
  img {
    width: 100%;
  }
 }
}
.text-showing {
  text-align: right;
  margin-top: 30px;
 }
}
/*category-food*/
.category-food {
  float: right;
  width: 264px;
  margin-top: 30px;
  margin-right: -10px;
  .pending{
    width: 263px;
    height: 70px;
    border-left: 1px solid map-get($color, gray_ao);
    border-right: 1px solid map-get($color, gray_ao);
    border-bottom: 1px solid map-get($color, gray_ao);
    .title-category {
      border-top: 3px solid map-get($color, green);
      padding: 25px 20px;
     font-size: 22px;
    }
  }
  .food-list {
    margin-bottom: 30px;
    padding: 0;
  }
  .food-list-item {
    display: block;
    padding: 13px 20px;
    border: 1px solid map-get($color, gray_ao);
    margin-right: -1px;
    cursor: pointer;
    &:hover {
        background: map-get($color, gray_amo);
        color: map-get($color, gray_ao);
     }
    a {
      text-decoration: none;
      color: map-get($color, black_mo);
    }
  }
   .pend {
    width: 263px;
    height: 70px;
    border-left: 1px solid map-get($color, gray_ao);
    border-right: 1px solid map-get($color, gray_ao);
    border-bottom: 1px solid map-get($color, gray_ao);
    .title-searching {
      border-top: 3px solid map-get($color, gray_ao);
      padding: 25px 20px;
      font-size: 22px;
    }
  }
  .group-price {
    display: block;
    padding: 13px 20px;
    border: 1px solid map-get($color, gray_ao);
    margin-right: -1px;
    .fill-group {
      margin-bottom: 35px;
      margin-top: 10px;
      .dolors {
        margin: 0 0 18px;
      }
      .dolor {
        display: inline-block;
        margin: 0 10px;
      }
    }
  .price {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: map-get($color, black);
    }
   .btn-sm {
     padding: 6px 10px;
     font-size: 12px;
     border-radius: none;
     line-height: 1.5;
     background-color: map-get($color, green);
     color: map-get($color, white);
     text-transform: uppercase;
     outline: none;
     border: none;
     margin-bottom: 10px;
     &:hover {
      background-color:map-get($color, green_1);
      color: map-get($color, white);
      border-color: map-get($color, green_2);
     }
   }
  }
  .special {
    margin-top: 30px;
    .pendy {
      width: 263px;
      height: 70px;
      border-left: 1px solid map-get($color, gray_ao);
      border-right: 1px solid map-get($color, gray_ao);
      border-bottom: 1px solid map-get($color, gray_ao);
      .title-special {
      border-top: 3px solid map-get($color, gray_ao);
      padding: 25px 20px;
      font-size: 22px;
    }
    }
    .border-special {
      border: 1px solid map-get($color, gray_ao);
      margin-right: -1px;
      height: 490px;
    }
    .gallary-special {
      width: 100%;
      padding: 15px 25px
    }
    .gallary-special-item {
      width: 110px;
      height: 100px;
      float: left;
      margin-right: 10px;
      margin: 6px 0 13px;
      a {
        text-decoration: none;
        color: map-get($color, black_4);
        &:hover {
          color: map-get($color, green_2);
        }
      }
      img {
        width: 84px;
        height: 84px;
      }
      .price-ness {
        color: map-get($color, green_2);
        font-size: 16px;
      }
      .price-olds {
        font-size: 12px;
        text-decoration: underline;
      }
      .fa-star {
        color: map-get($color, star);
      }
    }
  }
}

/* full-newletter*/
.full-newletter {
  background-image: url(../images/newletter.png);
  background-repeat: no-repeat;
  height: 300px;
  .newletter {
    width: 100%;
    height: 300px;
    margin-top: 60px;
    display: block;
    text-align: center;
    .title-newletter {
      color: map-get($color, white);
      font-size: 30px;
      margin: 0;
      padding-top: 60px;
      line-height: 1.5;
    }
    .text-newletter {
      color: map-get($color, white);
      margin-top: 26px;
      margin-bottom: 24px;
    }
  }
  .contact-email {
    position: relative;
    .input-email {
      position: absolute;
      height: 46px;
      width: 32%;
      left: 315px;
      border:none;
      outline: none;
      text-indent: 5%;
      color: map-get($color, gray_border_v1);
    }
    .button-subscribe {
      position: absolute;
      height: 46px;
      width: 13%;
      right: 312px;
      border: none;
      outline: none;
      background: map-get($color, green_2);
      text-transform: uppercase;
      color: map-get($color, white);
      cursor: pointer;
      font-size: 14px;
      &:hover {
        background-color: map-get($color, green_1);
      }
    }
  }
}

/*footer*/
.footer-content {
  background-color: map-get($color, black_2);
  .widget-about {
    float: left;
    height: 380px;
    width: 260px;
    margin-top: 64px;
    .list-us {
      margin-top: 40px;
      clear: both;
      line-height: 25px;
      .list-us-item {
        margin-bottom: 24px;
        list-style: none;
        span {
          display: inline-block;
          vertical-align: top;
        }
        .fa-log {
          width: 35px;
          padding-top: 6px;
          color: map-get($color, green);
          font-size: 22px;
          display: inline-block;
        }
      }
    }
    .panel-title {
      color: map-get($color, white);
      font-size: 22px;
      border-left: 4px solid map-get($color, green);
      padding-left: 10px;
    }
  }

  .inforcus {
    float: right;
    height: 380px;
    width: 680px;
    margin-top: 64px;
    .panel-title {
      color: map-get($color, white);
      font-size: 22px;
      border-left: 4px solid map-get($color, green);
      padding-left: 10px;
    }
    .list-gallary {
      width: 100%;
    }
    .infor {
        padding-right: 80px;
      }
    .list-gallary-item {
      width: 190px;
      height: 250px;
      float: left;
      margin: 0 5px;

      .list-extras {
        margin-top: 40px;
        padding: 0;
      }
      .list-extras-item {
        list-style: none;
        padding-bottom: 5px;
        line-height: 30px;
        a {
          position: relative;
          font-size: 13px;
          text-decoration: none;
          color: map-get($color, gray_border_v1);
          &:before {
            top: 2px;
            left: 0;
            content: "\f105";
            position: absolute;
            font-family: "fontawesome";
            font-size: 12px;
            line-height: normal;
          }
          &:hover {
            padding-left: 12px;
            color: map-get($color, green);
          }
        }
      }
    }
  }
}
.copy {
  background-color: map-get($color, black_3);
  height: 90px;
  .copy-left {
    float: left;
    width: 450px;
    margin-top: 28px;
    a {
      color: map-get($color, green);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .copy-right {
    float: right;
     margin-top: 28px;
  }
}
